<%- model_class = Location -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Eateries" %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:building) %></th>
      <th><%= model_class.human_attribute_name(:campus) %></th>
      <th><%= "AKA" %></th>
    </tr>
  </thead>
  <tbody>
    <% @open_locations.each do |location| %>
      <tr>
       	<!--<td> # link_to location.id, location_path(location) </td>-->
        <td><%= location.name %></td>
        <td><%= location.building %></td>
        <td><%= location.campus %></td>
        <td><%= location.aka %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>It is currently <b><%= @current_time_as_string %></b> at GMU</p>
