<%- model_class = Location -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @location.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:aka) %>:</strong></dt>
  <dd><%= @location.aka %></dd>
  <dt><strong><%= model_class.human_attribute_name(:building) %>:</strong></dt>
  <dd><%= @location.building %></dd>
  <dt><strong><%= model_class.human_attribute_name(:business_hours) %>:</strong></dt>
  <dd><%= @location.business_hours %></dd>
</dl>
